body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #111;
  color: white;
}

.header {
  background: #000;
  padding: 20px;
  text-align: center;
}

.hero {
  text-align: center;
  padding: 50px;
}

button {
  background: red;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 10px;
}
.hero button {
  display: block;
  margin: 20px auto;
}

.hero p {
  margin-top: 20px;
  line-height: 1.5;
}

.pricing {
  margin-top: 30px;
  text-align: center;
}
